@model WebAppPixca.Models.Usuario

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutUser";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/css/edit.css" rel="stylesheet" />
</head>

<body>
    <div class="d-flex justify-content-between">
        <h1 class="mr-3">Editar mi perfil</h1>
        <div class="text-right">
            <a asp-action="Details" class="btn btn-link"> <i class="fas fa-backward"></i> Regresar</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="inicioDiv">
            <form asp-action="Edit" class="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdUsuario" />
                <div class="form-group">
                    <label asp-for="NombreUsuario" class="control-label">Nombre(s)</label>
                    <input asp-for="NombreUsuario" class="form-control" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoPater" class="control-label">Apellido Paterno</label>
                    <input asp-for="ApellidoPater" class="form-control" />
                    <span asp-validation-for="ApellidoPater" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApellidoMater" class="control-label"> Apellido Materno</label>
                    <input asp-for="ApellidoMater" class="form-control" />
                    <span asp-validation-for="ApellidoMater" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroTelefono" class="control-label">Número de telefono</label>
                    <input asp-for="NumeroTelefono" class="form-control" />
                    <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Correo electrónico</label>
                    <input asp-for="Email" class="form-control" type="email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contraseña" class="control-label"></label>
                    <input asp-for="Contraseña" class="form-control" type="password" />
                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                </div>
                <div class="text-right">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
