html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #90dd75;
}

.nav-link {
    font-family: Verdana;
    font-size: 16px;
}

.msj {
    color: red;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.center{
    text-align: center;
}


.carousel-inner {
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.formHome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
    margin: 20px;
}

.inputHome {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    width: 300px;
    border: 1px solid #0077cc;
}

.buttonHome {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.card-footer a {
    margin-bottom: 10px;
}
